* body { 
    overflow-x: hidden;    
  }
  .btn1 { 
	height: 200px;
	position: relative;
	
	/* border: 3px solid green;  */
  }
  button{
	  border-radius: 8px;
	  /* padding: 1% 3%; */
  }
  .btn {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	
	}
	.btn p{
		color: green;
		font-size:medium;
		
	}
	  .sinnfo{
		  max-height: auto;
	  }
	  .gint{
		  max-height: auto;
	  }
	  .sinnfo{
		  
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  margin-top: 20px;
	  }
	  .gintt{
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
	  }
	  .head{
		  border-bottom: 1px dotted #ffffff;
		  max-height: 1.5cm;
	  }
	  .color{
		  color: white;
	  }
	  .color1{
		  color:black
	  }
	  
	  .left1{
		  display:flex;
	  }
	  .left11{
		  flex: 40%;
		  padding: 10px;
	  }
	  
	  .left12{
		  flex: 20%;
		  padding: 10px;
	  }
	  .head{
		  display: flex;
	  }
	  .left {
		  flex: 50%;
		  padding: 10px;
	  }
	  .container{
		  display: flex;
		  max-height: 8cm;
	  }
	  
	  .logo1 {
		  flex: 15%;
		  padding: 10px;
	  }
	  .nav-right{
		  flex: 50%;
		  padding: 10px;
		  padding-right: 7px;
	  }
	  .nav {
	  
	  background-image: url("../img/burger.png");
	
	  min-height: 500px;
	  background-position: center;
	  background-repeat: no-repeat;
	  grid-template-columns: auto auto;
	  
	  position: relative;
	  
	}
   
	  .left img{
		  padding: 10px 8px;
	  }	  
	  .logo{
		  float: left;
		  padding: 15px 16px;
		  margin-top: 12px;
	  }
	  .logo1{
		  float: left;
		  padding:20px 16px;
		  margin-top: 20px;
	  }
	  
	  .mail{
		  float: left;
		  margin-top: -10px;
	  }
	  .phone{
		  float: left;
		  margin-top: -10px;
	  }
	  .left11 p{
		  float: left;
		  margin-top: 0px;
	  }
	  .left12 p{
		  float: left;
		  margin-top: 0px;
	  }
  
	  .left11 p{
		  margin-top: 1px;
	  }
	  .phone{
		  float: left;
	  }
	  .nav-right {
		  float: right;
		  text-align: right;
		  text-decoration: none;
		  font-size: 17px;
		  color: white;
		  margin-top: 20px;
	  }
	  .nav-right a{
		  padding:20px 16px;	  
	  }
	.content{
		display:flex;
	}
	.blog{
		flex: 30%;
		padding: 10px;
	}
	.blog1{
		flex: 70%;
		padding: 10px;
		margin-left: 0%;		
	}
	.title{
		color: green;
		margin-left: 2%;
		margin-top: -10px;
	}
	.cal{
		display:flex;
	}
	.cal1{
		/* float: left; */
		flex: 33.33%;
		padding: 10px;
	}
	.cal1 p{
		float: left;
		margin-top: 0px;
		font-weight: bolder;
		margin-inline-start: 4px;
	}
	.calendar{
		float: left;
		margin-top: -2.5px;
	}
	.admin{
		flex: 33.33%;
		padding: 10px;
	}
	.admin p{
		float: left;
		margin-top: 0px;
		font-weight: bolder;
		margin-inline-start: 4px;
	}
	.admin1{
		float: left;
		margin-top: -2.5px;
	}
	.comments{
		flex: 33.33%;
		padding: 10px;
	}
	.comments p{
		float: left;
		margin-top: 0px;
		font-weight: bolder;
		margin-inline-start: 4px;
	}
	.comments1{
		float: left;
		margin-top: -2.5px;
	}
	.context p{
		font-size: large;
	}
	.content{
		border: solid green thin;
		margin-top: 10px;
		max-height: 10cm;
		margin-bottom: 0px;
	}
	.OpeningHours{
		position: relative;
		left: 0;
		bottom: 0;
		height: auto;
		background-color: #12a84e;
		grid-column: 1/span 3;
		padding-bottom: 15px;
   }
   
   td{
	   font-family:'Open Sans', sans-serif;
	   width: 100px;
	   height: 17px;
	   font-size: 14px;
	   line-height: 30px;
	   color: #ffffff;
	   font-weight: 400;
	   font-family: "Open Sans", sans-serif;
	   text-align: center;
   }
   th{
	   width: 100px;
	   height: 17px;
	   font-size: 16px;
	   line-height: 30px;
	   color: #ffffff;
	   font-weight: 400;
	   font-family: "Open Sans", sans-serif;
	   text-align: center;
	   
   } 
   
   .Foot{
	   /* background-image: url(../img/FooterBG.png); */
	   display: grid;
	   grid-template-columns: 33.3% 33.3% 33.3%;
	   grid-template-rows: 100px 300px auto;
	   margin-bottom: 0px;
	   position: relative;
	   left: 0;
	   bottom: 0;
	   width: 1459px;
	   gap: 0;
	   text-align: center;
	   padding-bottom: 0px;
	   padding-top: 0px;
	   max-width: 100%;
	   
   }
   .PvtLtd{
	   background-image: url(../img/Rectangle\ 807\ copy\ 6.jpg);
	   -webkit-background-size: cover;
	   -moz-background-size: cover;
	   -o-background-size: cover;
	   background-size: cover;
	   
   
   }
   .FollowUs{
	   background-image: url(../img/Rectangle\ 807\ copy\ 5.jpg);
	   -webkit-background-size: cover;
	   -moz-background-size: cover;
	   -o-background-size: cover;
	   background-size: cover;
	   
   }
   .NewsLetter{
	   background-image: url(../img/Rectangle\ 807\ copy\ 4.png);
	   -webkit-background-size: cover;
	   -moz-background-size: cover;
	   -o-background-size: cover;
	   background-size: cover;
   }
   .CopyRight{
	   position: relative;
	   left: 0;
	   bottom: 0;
	   width: 100%;
	   text-align: center;
	   padding-bottom: 10px;
	   padding-top: 10px;
	   grid-column: 1/span 3;
	   background-color: white;
   }